   </div>
        <!--/.Main layout-->
    </main>
</div>
    <!--Footer-->
    <div id="footer">
    <footer class="page-footer center-on-small-only">
        
        <!--/.Footer links-->
        <hr>
        <!--Social buttons-->
    <div class="social-section text-center">
        <ul>

            <li><a class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-li"><i class="fa fa-linkedin"> </i></a></li>
            <li><a class="btn-floating btn-sm btn-dribbble"><i class="fa fa-dribbble"> </i></a></li>

        </ul>
    </div>

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="containter-fluid">
                © 2017 Copyright: <a href="http://robert.collegecronista.com"> Robert Robinson</a>
            </div>
        </div>
        <!--/.Copyright-->
        
    </footer>
    </div>
    <!--/.Footer-->

    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>

    <!-- Bootstrap dropdown -->
    <script type="text/javascript" src="/javascripts/popper.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/javascripts/mdb.min.js"></script>

    <script>
    new WOW().init();
    </script>
    </div>
</body>

</html>